@media only screen and (max-width: 768px) {
  /* -------------------------
        Navigation
------------------------- */

  /* nav {
  } */

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    position: fixed;
    top: 2vh;
    left: 0;
    z-index: 9;
    background-color: #ffffff95;
  }

  .nav-links {
    position: fixed;
    z-index: 5;
    left: 0px;
    height: 100vh;
    top: 0;
    background-color: #423733;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    padding: 0;
    margin: 0;
    /* opacity: 0; */
  }

  .nav-active {
    transform: translateX(0%);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  /* -------------------------
       Header Content
------------------------- */

  #header {
    background: url('../img/header-img-mobile2.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* filter: brightness(90%); */
    padding: 0;
    /* text-align: center; */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
  }

  #logo {
    width: 30%;
    position: relative;
    top: 2rem;

    /* text-align: center; */
    /* margin: auto; */
  }

  #hero-text {
    /* order: 1; */
    position: relative;
    width: 50%;
    /* position: relative !important; */
    /* top: 1rem; */
    /* text-align: center; */
    right: 25%;
    bottom: 0;

    /* overflow: hidden; */
    /* z-index: 1; */
  }

  #hero-text-div {
    width: 100%;
    position: absolute;
    bottom: 0rem;
    /* right: 10%; */
    background: linear-gradient(to top, #00000080, #00000000);
  }

  /* -------------------------
        -----------
        Main Column 
        ----------- 
------------------------- */

  #main-column {
    padding: 0;
  }

  #main {
    padding: 0;
  }

  /* -------------------------
        Main Column 
------------------------- */

  #save-date-headline {
    text-align: center;
    font-family: 'Trocchi', serif;
    font-size: 1rem;
    text-transform: UPPERCASE;
    color: #c4ad84;
    position: relative;
    margin: 1.2rem 0;
  }

  img[src*='rings'] {
    margin: 0 0.5rem;
    position: relative;
    top: -0.5rem;
    width: 2rem;
  }

  #address-row {
    position: relative;
    bottom: 200px;
    margin-bottom: -200px;
  }

  #save-date-address {
    max-width: 70%;
  }

  img[src*='address'] {
    /* width: 100%; */
    display: none;

    height: 10rem;
  }

  img[src*='space'] {
    width: 100%;
    display: block;
  }

  #address-text {
    font-size: 0.7rem;
  }

  /* -------------------------
       Registry
------------------------- */

  #registry {
    height: 9rem;
  }

  .registry-div {
    margin: 0 1rem;
    max-width: 40%;
    height: 4rem;
  }

  .registry-div > .registry-img[src*='macys'] {
    padding: 0 1rem;
  }

  /* -------------------------
       Booking
------------------------- */
  #room-photo {
    display: none;
  }

  #stay {
    height: 100%;
  }

  #stay-header {
    color: white;
  }

  /* #booking-col {
    background: url('../img/stay/room.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */

  #booking {
    background: #c4ad84d4;

    padding: 2rem;
  }

  .booking-helper {
    background: url('../img/stay/room.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    right: auto;
    height: auto;
    padding: 6rem 0 0 0;
    margin-top: 1rem;
  }

  #mobile-header-div {
    display: flex;
  }

  #stay-header-mobile {
    font-size: 3rem;
    font-family: 'Parisienne', cursive;
    color: #c4ad84;
    background-color: white;
    /* margin-bottom: 1rem; */
    margin: 0;
    display: inline-block;
    padding: 0.5rem 1rem;
  }

  .stay-border {
    position: absolute;
    z-index: 2;
    padding: 0 0.5rem 0.25rem 0.5rem;
    top: -1px;
    border: 1px solid white;
    border-top: none;
  }

  .form-header {
    font-size: 1.5rem;
  }

  .hasDatepicker {
    font-size: 1rem;
    margin: auto;
  }

  /* -------------------------
       Bridal Party
------------------------- */
  #bridal-party-header {
    font-size: 3rem;
  }

  .party-box-header-2 {
    padding: 0;
  }

  .party-box-header-2 > h2 {
    font-family: 'parisienne', cursive;
    font-size: 3rem;
    padding: 0;
  }

  .party-people {
    margin-bottom: 1rem;
  }

  .bridal-party-image {
    max-width: 70%;

    border: 0.2rem solid white;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  .bridal-party-name {
    font-size: 1rem;
    text-transform: uppercase;
  }

  /* -------------------------
       Story
------------------------- */

  #our-story {
    /* height: 100vh; */
  }

  #story-content {
    /* position: absolute;
    bottom: 0; */
    /* margin-top: 5rem; */
    margin-bottom: 0;
    background: linear-gradient(to top, #00000080, #00000000);
    /* height: 100%; */
  }

  #story-body {
    /* height: 100%; */
    padding-top: 1rem;
    position: absolute;
    bottom: 0;
  }

  #story-header {
    font-size: 4rem;
    margin: 3rem 0;
  }

  #story-text-row {
    /* position: absolute; */
    bottom: 0;
  }

  #story-text-container {
    padding: 0;
  }

  #story-text {
    /* background: linear-gradient(to top, #00000080, #00000000); */
    /* font-size: 1rem; */
    margin: 4rem auto 0 auto;
    /* margin-bottom: 0; */
    padding-bottom: 100%;
    padding: 0 2rem 3rem 2rem;
    position: relative;
    bottom: 0;
  }

  /* -------------------------
       Schedule
------------------------- */
  #schedule {
    /* z-index: 5; */
  }

  .arrows {
    /* width: 50%; */
    margin: 1rem auto;
    position: relative;
    display: block;
  }

  img[src*='arrow-left'] {
    position: relative;
    /* right: -1rem; */
  }
  img[src*='arrow-right'] {
    position: relative;
    /* right: -1rem; */
  }

  #date-switcher-header {
    font-size: 1.5rem;
    margin: 0 1rem;
  }

  /* -------------------------
       Hotel Info
------------------------- */

  #hotel-header {
    font-size: 1.7rem;
  }

  #maps-img {
    display: none;
  }
  #maps-img-mobile {
    display: block;
  }

  #hotel-guide {
    margin: auto;
  }

  img[src*='factory'] {
    margin-bottom: 1rem;
  }
}
