@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Lato:wght@300;400;700&family=Trocchi&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

/* Header  */
.cursive {
  font-family: 'Parisienne', cursive;
}

#header {
  text-align: center;
  background: url('img/header-img-edited3.png') no-repeat left center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  padding-top: 2rem;
}

#logo {
  width: 10%;
  text-align: center;
}

#navbar {
  margin: auto;
}

.nav-item {
  padding: 0 2rem;
}

.nav-link {
  text-decoration: none;
  color: #c4ad84;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff,
    0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
}

#hero-text {
  width: 40%;
  position: absolute;
  bottom: 1rem;
  right: 10%;
}

/* Save the Date */

.block {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* --Venue */

#main-column {
  margin: auto;
  padding: 0 2rem;
}

#save-date-headline {
  text-align: center;
  font-family: 'Trocchi', serif;
  font-size: 1.5rem;
  text-transform: UPPERCASE;
  color: #c4ad84;
  position: relative;
  /* top: 1rem; */
  margin: 1.2rem 0;
}

img[src*='rings'] {
  margin: 0 2rem;
  position: relative;
  top: -0.5rem;
  width: 3rem;
}

.save-date-col {
  height: 25rem;
}

#save-date-space {
  background-image: url('./img/stay/space.png');

  background-position-x: 25%;

  background-size: cover;
}
#save-date-space,
#save-date-hotel {
  width: 27%;
}

#save-date-venue {
  background-image: url('./img/stay/venue.png');
  background-position-x: center;
  background-position-y: 80%;
  background-size: 130%;
  border-right: white solid 0.5rem;
  border-left: white solid 0.5rem;
  width: 45%;
}

#address {
  /* background-image: url('img/stay/address-image.png');
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 416px;
  width: 100%;*/
  padding: 0;
}

/* @media only screen and (min-width: 1333px) {
  #address {
    background-size: cover;
  }
} */

img[src*='address'] {
  width: 100%;
  /* position: absolute; */
}
#save-date-address {
  background-color: #c4ad84;
  text-align: center;
  margin: auto;
  /* left: 50%; */
  position: relative;
  /* top: -100px; */
  /* overflow: hidden; */
  /* justify-content: center; */
  /* align-items: center; */
  /* bottom: 0; */
  padding: 1.5rem 1.5rem 0 1.5rem;
  max-width: 38%;
}

#address-row {
  position: relative;
  bottom: 217px;
  margin-bottom: -217px;
}

#venue-address {
  margin: auto;
  /* padding-bottom: 50px; *
  /

  /* text-align: center; */
  padding: 0;
}
#venue-header {
  position: relative;
  display: inline-block;
  bottom: 162px;
  /* width: %; */
  /* top: -1rem; */
  background-color: white;
  color: #c4ad84;
  font-family: 'parisienne', cursive;
  margin: auto;
  font-size: 2.5rem;
  padding: 0.8rem 0.5rem 0 0.5rem;
  background-clip: padding-box;
  z-index: 2;
}

#address-text {
  color: white;
  font-size: 0.9rem;
  padding: 2.5rem 0 1.5rem 0;
  /* bottom: 2rem; */
  position: relative;
  text-transform: UPPERCASE;
  border: dotted 2px white;
  border-bottom: 0;
  font-family: 'trocchi', serif;
  margin-bottom: 0;
  line-height: 1.4rem;
  letter-spacing: 1px;
}
/* @supports (-webkit-text-stroke: 0.5px white) {
  #address-text {
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: white;
    letter-spacing: 1px;
  }
} */

#save-date-hotel {
  background-image: url('./img/stay/hotel.png');

  background-position: center;
  background-size: cover;
}

/* -- Registry */
#registry {
  background-color: #c4ad84;
  height: 15rem;
}

#helper-div {
  position: relative;
  top: 25%;
}
.registry-div {
  height: 7rem;
  background-color: white;
  margin: 0 3rem;
  position: relative;
}

.registry-img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

img[src*='barrel'] {
  border: 1.5rem solid white;
}

/* --Stay */

#stay {
  height: 25rem;
}

#room-photo {
  background-image: url('./img/stay/room.jpg');

  background-position: center;
  background-size: cover;
}

.booking-helper {
  /* background: #c4ad84; */
  position: absolute;
  margin-top: 7rem;
  right: 3rem;
  z-index: 2;
  padding: 1rem 0 1rem 2rem;
  border: solid white 2px;

  width: 35rem;
}

#booking {
  background: #c4ad84;
  padding: 3rem 4rem;
}

.booking-form {
  border: 1px solid white;
}

.form-header {
  font-size: 1rem;
  text-align: center;
}

.form-field {
  text-align: center;
  border: none;
  background: transparent;
  font-size: 0.5rem;
  margin: auto;
}

#checkInDate {
  padding: 0;
  text-align: center;
}

/* --Bridal Party */

.bridal-party-border {
  position: absolute;
  z-index: 2;
  padding: 0 0.5rem 0.1rem 0.5rem;
  border: 1px solid white;
}

#bridal-party-header {
  background-color: white;
}

.center {
  text-align: center;
}

.bridesmaid-box {
  background-color: #c4ad84;
}
.groomsmen-box {
  background-color: #423733;
}

.bridesmaid-box,
.groomsmen-box {
  color: white;
  padding: 5rem 3rem 3rem 3rem;
}

/* .bridesmaid-box-header::after {
  content: '';
  position: absolute;
  left: 50%;
  right: 40%;
  justify-content: center;
  bottom: 0;
  height: 1px;
  width: 25%; 
  border-bottom: 1px solid white;
} */

.party-box-header-1 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.party-box-header-2 {
  margin-bottom: 2rem;
}

.line {
  border-top: 1px solid white;
}

.bridal-party-image {
  max-width: 100%;
  border: 0.4rem solid white;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.bridal-party-name {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/* Our Story  */
#our-story {
  text-align: center;
  background: url('img/our-story/gate.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

#story-header {
  margin-bottom: 2rem;
}

#story-body {
  padding-top: 11.5rem;
  text-align: center;
  color: white;
}

#story-text {
  margin-top: 2rem;
}

/* Schedule */
#schedule-header {
  padding-left: 0;
}

.arrows {
  padding-top: 1rem;
  display: inline-block;
}

img[src*='arrow-left'] {
  position: absolute;
  right: -1rem;
}

img[src*='arrow-right'] {
  position: absolute;
  left: -2rem;
}

#itinerary {
  background-color: #c4ad84;
  color: white;
  margin: auto;
}

#date-switcher {
  margin: 0.5rem auto 1rem auto;
  border-bottom: 0.25rem solid white;
}

.itinerary-text {
  font-size: 1.25rem;
  font-weight: lighter;
}

.event-row {
  margin-bottom: 0.75rem;
}

#hotel-info {
  margin: 1rem auto auto auto;
}

img[src*='map'] {
  /* max-height: 100%; */

  position: relative;
  top: 0.5rem;
}
img[src*='img'] {
  max-width: 100%;
}

#hotel-guide {
  background-color: white;
}

/* Footer  */

footer {
  background: url('img/schedule/footer-img.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
