/* Header  */

#header {
  text-align: center;
  background: url('img/hero-extended.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

#logo {
  width: 100px;
  text-align: center;
}

#navbar {
  margin: auto;
}

.nav-item {
  padding: 0 2rem;
}

#hero-text {
  width: 50%;
  position: absolute;
  bottom: 1rem;
  right: 0;
}

/* Save the Date */

/* --Venue */

#main-column {
  margin: auto;
  padding: 0 2rem;
}

#save-date-headline {
  text-align: center;
}

.save-date-col {
  height: 20rem;
}

#save-date-space {
  background-image: url('./img/stay/space.png');

  background-position: center;
  background-size: cover;
}

#save-date-venue {
  background-image: url('./img/stay/venue.png');

  background-position: center;
  background-size: cover;
  border-right: white solid 0.5rem;
  border-left: white solid 0.5rem;
}

#save-date-hotel {
  background-image: url('./img/stay/hotel.png');

  background-position: center;
  background-size: cover;
}

/* -- Registry */
#registry {
  background-color: #c4ad84;
  height: 15rem;
}

#helper-div {
  position: relative;
  top: 25%;
}
.registry-div {
  height: 7rem;
  background-color: white;
  margin: 0 3rem;
  position: relative;
}

.registry-img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

img[src*='barrel'] {
  border: 1.5rem solid white;
}
